body {
  margin: 0;
  background-color: #000d1a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 3rem;
}

.drum-image-container {
  position: relative;
  display: inline-block;
}

.drum-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 0 auto;
}


.drum-button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0); /* Transparent */
  border: 2px solid transparent;
  cursor: pointer;
}

.drum-button:focus {
  outline: none;
}

.drum-button.pressed {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}
@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.note {
  position: absolute;
  color: #fff;
  pointer-events: none;
  z-index: 1000;
}

